{% extends "base.html" %} 

{% block title %}Rejestracja{% endblock %} 

{% block content %}
<div id="main-title">  
    <h1>Rejestracja</h1>
</div>
    <div class="form-group-register">
        <h5>Wypełnij formularz, aby założyć konto:</h5>
        <form action="" method="post">
            {{ form.as_p }}
            {% csrf_token %} 
            <p><input type="submit" value="Utwórz konto" class="btn btn-primary"></p>
        </form>
    </div>
    <script>
            var elements = document.getElementsByClassName("helptext");
            while(elements.length > 0){
                elements[0].parentNode.removeChild(elements[0]);
            }

    </script>
{% endblock %}