{% extends "base.html" %} 

{% block title %}Moje kursy{% endblock %} 

{% block content %}
<div id="main-title">
    <h1>Moje kursy</h1>
</div>
{% for course in object_list %} 
<div id="my-courses">
    <h3>{{ course.title }}</h3>
    <p>
        <a href="{% url "course_edit" course.id %}">Edytuj</a> | 
        <a href="{% url "course_delete" course.id %}">Usuń</a> |
        <a href="{% url "course_module_update" course.id %}">Edytuj moduły</a> 
        {% if course.modules.count > 0 %} 
        |<a href="{% url "module_content_list" course.modules.first.id %}"> Zarządzaj treścią</a>
        {% endif %} 
        <hr>
    </p>
</div>
{% empty %} 
<p style="margin:20px">Jeszcze nie utworzyłeś żadnych kursów.</p>
{% endfor %}
    <p style="margin: 50px 0 0 20px;">
        <a href="{% url "course_create" %}" class="btn btn-success">Utwórz nowy kurs</a>
    </p>
</div>
{% endblock %}

<!-- Dodać date utworzenia kursu -->